<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='App.css') }}">
</head>
<body>
    <h2>Orders</h2>
    <table>
        <tr>
            <th>Order ID</th>
            <th>Products</th>
            <th>Status</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order.get("OrderID", "") }}</td>
            <td>{{ order.get("OrederProducts", "") }}</td>
            <td>{{ order.get("OrderStatus", "") }}</td>
            <td>{{ order.get("OrderPrice", "") }}</td>
            <td><button onclick="updateOrderStatus('{{ order.OrderID }}')">Tick</button></td>
        </tr>
        {% endfor %}
    </table>

    <script>
        function updateOrderStatus(orderID) {
            fetch(`/updateOrderStatus/${orderID}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
            })
            .then(response => {
                if (response.ok) {
                    // Display a message indicating that the status has been successfully updated
                    alert('Status changed successfully');
                    // Reload the page to reflect the changes
                    window.location.reload();
                } else {
                    console.error('Failed to update order status');
                }
            })
            .catch(error => console.error('Error updating order status:', error));
        }
    </script>
</body>
</html>

