<!DOCTYPE html>
<html lang="en" class="App">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='App.css') }}">
</head>
<body class="content">
    <h2 class="header">Add Manager</h2>
    <form id="addManagerForm">
        <label for="ManagerName" class="text">Manager Name:</label><br>
        <input type="text" id="ManagerName" name="ManagerName" class="title"><br>
        <label for="ManagerEmail" class="text">Manager Email:</label><br>
        <input type="email" id="ManagerEmail" name="ManagerEmail" class="content"><br>
        <label for="ManagerPassword" class="text">Manager Password:</label><br>
        <input type="password" id="ManagerPassword" name="ManagerPassword" class="content"><br><br>
        <button type="button" class="button" onclick="addManager()">Submit</button><br>
        <label class="text">Already have an account?</label><br>
        <button type="button" class="button" onclick="location.href='/MLogIn'">Log In</button>
    </form>

    <script>
        function addManager() {
            const form = document.getElementById('addManagerForm');
            const formData = new FormData(form);
            const jsonData = {};
            let allFieldsEmpty = true;
    
            formData.forEach((value, key) => {
                if (value.trim() !== '') {
                    jsonData[key] = value;
                    allFieldsEmpty = false;
                }
            });
    
            if (allFieldsEmpty) {
                console.log('Please fill in at least one field.');
                return;
            }
    
            fetch('/addManager', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData)
            })
            .then(response => response.text())
            .then(message => {
                console.log(message);
                // Clear input fields
                form.reset();
                window.location.href = '/LogIn';
            })
            .catch(error => {
                console.error('Error:', error);
                // Handle error
            });
        }
    </script>
</body>
</html>
